<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskBlog</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        <h1> Welcome to FlaskBlog </h1>
        {% for post in posts %}
            <a href="#">
                <h2>{{ post['title'] }}</h2>
            </a>
            <span class="badge bagde-primary">{{ post['created'] }}</span>
            <hr>
        {% endfor %}
    {% endblock %}
</body>
</html>