h1 {
    border: 2px rgba(238, 238, 238, 0.53) solid;
    color: #EEEEEE;
    text-align: center;
    padding: 20px;
    background-color: #0b50b8;

}
div{
    width: 100%;
    border-radius: 10px;
    background-color: #0b50b8;
    padding: 40px;
